{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
	<div class="jumbotron">
		<div class="row justify-content-center">
			<div>
				<h1>Информационная безопасность банковской системы</h1>
				<hr>
				<p>Информационная безопасность банковской системы является системообразующим фактором, обеспечивающим устойчивость экономики страны.</p>
				<hr>
				<div class="row">
					<div class="col-md-9">
						<h2 style=" text-align: center;">Модель угроз</h2>
						<p>Рассматривая модель угроз, уменьшающих стабильность банковского сектора, можно увидеть, что внешние риски признаются более существенными, чем инсайдерские.</p>
				<p>В системе менеджмента банковских рисков в качестве основных выделяются:</p>
				<ul>
					<li>утечки информации, относящейся к охраняемой категории, – банковской, коммерческой, служебной тайны, персональных данных клиентов;</li>
					<li>риск поломки или разрушения информационной системы, связанный с утерей данных;</li>
					<li>риск использования при принятии ключевых решений неполной или искаженной информации;</li>
					<li>риск несанкционированного списания денежных средств со счетов клиентов.</li>
				</ul>
					</div>								
					<div class="col-md-3">
						<img src="{% static 'images/index1.jpg' %}" alt="index1" style="width:100%; padding: 10px;">
					</div>
				</div>
				<p>Реализация каждой категории рисков способна привести к серьезным репутационным и финансовым последствиям для кредитной организации. Это необходимо учитывать при создании архитектуры информационной сети, особенностями которой будут:</p>
				<ul>
					<li>обработка большого объема информации, связанной с бизнесом и финансовыми операциями клиентов;</li>
					<li>совершение трансакций в различных системах платежей, как дискретных, отправляющих средства несколькими траншами или рейсами в день, так и работающих в режиме реального времени;</li>
					<li>разветвленность и сложность системы, подключенной к сети банкоматов и онлайн-терминалов, с необходимостью защиты передаваемых данных от перехвата.</li>
					<li>Целью злоумышленников, как внешних, так и внутренних, становится получение доступа к информации, которая позволит обеспечить контроль за чужими активами.</li>
				</ul>
				<p>С учетом понимания модели угроз формируются требования к обеспечению информационной безопасности банковской системы:</p>
				<ul>
					<li>адекватность, создание достойных ответов на внутренние и внешние угрозы;</li>
					<li>комплексный подход, требующий уделять внимание всем элементам банковской системы – от сервиса быстрых платежей до ежедневного создания резервной копии баз данных;</li>
					<li>высокая производительность – система должна мгновенно обрабатывать огромные массивы данных, не создавая избыточной нагрузки на инфраструктуру;</li>
					<li>надежность, отказоустойчивость, умение восстанавливаться после сбоев в кратчайшее время;</li>
					<li>наличие широкого спектра инструментов мониторинга, способных выявлять все типы уязвимостей в системе обеспечения информационной безопасности банков.</li>
				</ul>
				<p>Конкретные решения по информационной безопасности, программные и технические средства, регулируются Стандартами Банка России, обязательными для применения. Общие принципы отразились в Концепции безопасности коммерческого банка, одобренной Советом Ассоциации российских банков (ранее – АРБ, Ассоциация российских банков, АРОС). Основной задачей организации является лоббирование интересов российских кредитных компаний, способствование принятию нужных законопроектов и выработке иных регулятивных решений.</p>				
				<hr>
				<div class="row">
					<div class="col-md-9">
						<h2 style=" text-align: center;">Принципы организации системы ИБ</h2>
						<p>В коммерческом банке построение системы ИБ основывается на принятии стратегии, определяющей ключевые параметры внедряемых решений.</p>
				<p>Построение системы базируется на следующих принципах:</p>
				<ul>
					<li>безопасность узлов системы и информационных ресурсов должна обеспечиваться на всех этапах жизненного цикла данных, в любых внешних и внутренних обстоятельствах;</li>
					<li>информация ранжируется по степени важности, конфиденциальности, отнесению к защищаемым ресурсам согласно требованиям государства;</li>
					<li>должен создаваться механизм мониторинга и оперативного реагирования на все отклонения от стандартной работы системы, выявляющий внешние подключения, подмену кода, работу вредоносных программ;</li>
					<li>все внедряемые решения должны соответствовать требованиям закона.</li>
				</ul>
					</div>								
					<div class="col-md-3">
						<img src="{% static 'images/index2.jpg' %}" alt="index2" style="width:100%; padding: 10px;">
					</div>
				</div>
				<p>Основой ИС в банке является АБС, автоматизированная банковская система, обрабатывающая финансовые трансакции и формирующая бухгалтерскую отчетность. По правилам работы Банка России, отчетность представляется регулятору не только раз в квартал, но и ежедневно, в АБС попадают все сведения об операциях по счетам клиентов и самой кредитной организации. Среди основных разработчиков АБС в России – компании «Диасофт» и R-Style. Ранее банки самостоятельно разрабатывали АБС, но после выхода закона о защите персональных данных эта возможность исчезла. Теперь их поставщики обязательно должны иметь лицензии ФСТЭК и ФСБ на разработку программных средств защиты, что для банков невозможно. Их лицензия является исключительной, предполагая только деятельность на финансовых рынках.</p>
				<p>Защита АБС в любом случае будет установлена в соответствии с классами безопасности, предусматриваемыми для систем, обрабатывающих персональные данные. Но дополнительные меры безопасности будут связаны с обеспечением утечек не только ПД, но и финансовой информации. Степени защиты будут зависят от уровня модуля, – функционального, например, управление депозитными или кредитными операциями, обрабатывающего первичную информацию и взаимодействующего с внешними каналами связи, и обеспечивающего, бухгалтерского или аналитического, работающего во внутренней сети и не требующего внешних подключений.</p>
				<p>Функциональные модули делятся на группы:</p>
				<ul>
					<li>Front-Office. На этом уровне находятся рабочие места, обеспечивающие операционную деятельность банка, обработку платежных поручений, депозитные операции, приобретение ценных бумаг. Сотрудники имеют возможность непосредственного взаимодействия с клиентами, информация собирается и передается для обработки в другие офисы;</li>
					<li>Back-Office. Здесь на базе полученной информации составляется отчетность, передаваемая далее в ЦБ РФ;</li>
					<li>Head-Office. Здесь сконцентрированы модули, обеспечивающие аналитику и интеллектуальную обработку данных.</li>
					<li>Работа всех подсистем реализуется в отдельных средах, отделенных друг от друга межсетевыми экранами. Помимо них, обязательно применяются:</li>
					<li>средства антивирусной защиты;</li>
					<li>средства обнаружения вторжений;</li>
					<li>криптографические средства (СКЗИ);</li>
					<li>средства доверенной загрузки.</li>
				</ul>
				<p>Выбор решений зависит от того, насколько вычислительная мощность модуля позволяет устанавливать средства защиты.</p>
				<hr>
				<div class="row">
					<div class="col-md-9">
						<h2 style=" text-align: center;">Оценка эффективности ИБ</h2>
						<p>Обеспечение информационной безопасности банковской системы является не статическим явлением, а совокупностью процессов. Качество их реализации должно непрерывно измеряться для оценки эффективности. Существуют тысячи метрик, позволяющих оценить процесс, и выбор из них оказывается сложным решением.</p>
						<p>Важным критерием при выборе метрики становится способность продемонстрировать качество решения специалистам разного уровня – от руководителя правления кредитного учреждения до приглашенного аудитора.</p>
				<p>Среди оцениваемых параметров:</p>
				<ul>
					<li>цена выстраивания системы ИБ в пересчете на сотрудника или квадратный метр площади банка или отделения;</li>
					<li>скорость перехода инцидента ИБ с первой линии поддержки SOC на вторую;</li>
					<li>скорость восстановления системы после сбоя;</li>
					<li>потери от неэффективного управления учетными записями;</li>
					<li>снижение лояльности клиентов от неэффективно выстроенных процессов ИБ.</li>
				</ul>
					</div>								
					<div class="col-md-3">
						<img src="{% static 'images/index3.jpg' %}" alt="index3" style="width:100%; padding: 10px;">
					</div>
				</div>
				
				<p>Цели разработки и внедрения системы метрик комплексные:</p>
				<ul>
					<li>снижение числа неэффективных или неверно выстроенных процессов;</li>
					<li>контроль работоспособности текущих бизнес-процессов;</li>
					<li>анализ направления развития концепций ИБ;</li>
					<li>проверка на соответствие требованиям регулятора;</li>
					<li>подготовка управленческой отчетности с анализом инвестиций, сделанных в информационную инфраструктуру.</li>
				</ul>
				<p>Метрики делятся на группы:</p>
				<ul>
					<li>управление инцидентами с тем, чтобы целевая динамика показывала уменьшение их количества;</li>
					<li>управление активами – метрика должна показать сокращение числа узлов сети, не имеющих официального владельца;</li>
					<li>эффективность применения средств защиты информации;</li>
					<li>управление уязвимостями – целевая динамика показывает их уменьшение;</li>
					<li>управление рисками.</li>
				</ul>
				<p>Внедрение метрик должно сопровождаться не только их применением, но и пересмотром, с целью сокращения числа уже не актуальных показателей.</p>
				<p>Политика Банка России</p>
				<p>Вопросы информационной безопасности в банковской сфере регулируются Банком России, и с каждым годом степень регулирования становится все больше. Ранее кредитные организации могли умалчивать о происходящих инцидентах информационной безопасности, сейчас им вменено в обязанность сообщать о них в ФинЦЕРТ в течение трех часов с момента возникновения. Обмен с подразделением регулятора данными о текущем состоянии информационной системы происходит в режиме онлайн, с выделенного рабочего места.</p>
				<p>Основные стандарты, принимаемые в целях обеспечения информационной безопасности банковской системы, регулируют:</p>
				<ul>
					<li>работу с биометрическими персональными данными. Создание условий для их хранения и избегание утечек становятся основными задачами в области обеспечения информационной безопасности банковской системы. Сферу регулируют Методические рекомендации, утвержденные Банком России в апреле 2019 года. Они рассматривают банковскую безопасность в общем и механизм передачи данных в Единую систему межведомственного взаимодействия (СМЭВ) с использованием средств криптографической защиты. Утрата биометрических данных поможет злоумышленникам при помощи этих идентификаторов получить несанкционированный и беспрепятственный доступ к банковским услугам и активам клиентов;</li>
					<li>общие принципы защиты информации в банковской сфере регулирует ГОСТ Р-57580.2, утвержденный Росстандартом в 2018 году;</li>
					<li>управление инцидентами информационной безопасности регулирует Стандарт Банка России, также утвержденный в 2018 году. Он обращает внимание на необходимость информировать регулятора обо всех выявленных инцидентах. В свою очередь, ЦБР готов оповещать банки обо всех аналогичных ситуациях, происходивших у других участников системы;</li>
					<li>аудит информационной безопасности и методику оценки качества управления информационными процессами.</li>
				</ul>
				<p>Одним из важных моментов поддержания информационной безопасности в сфере финансов становится организация форумов и конференций, где участники озвучивают актуальные проблемы сферы и делятся опытом. Ежегодный форум «Информационная безопасность финансовой сферы» собирает представителей регулятора, кредитных организаций, отечественных и зарубежных поставщиков ИТ-решений. Обсуждаются темы, связанные с развитием сотрудничества в области защиты информации, обеспечением безопасности финтеха, организацией киберустойчивости финансовых организаций, новые законодательные инициативы в области информационной безопасности, выдвигаемые банком России и самими кредитными организациями.</p>
				<hr>
				<div class="row">
					<div class="col-md-9">
						<h2 style=" text-align: center;">Стандарты безопасности</h2>
						<p>Основным документом регулятора, определяющим нормы, действующие в сфере банковской информационной безопасности, стал Стандарт «Обеспечение информационной безопасности организаций банковской системы Российской Федерации. Общие положения» СТО БР ИББС-1.0. Банк России, рекомендующий кредитным учреждениям скрупулезное выполнение требований, продекларировал, что целями принятия нормативного документа стали:</p>
					</div>								
					<div class="col-md-3">
						<img src="{% static 'images/index4.jpg' %}" alt="index4" style="width:100%; padding: 10px;">
					</div>
				</div>				
				<ul>
					<li>повышение доверия населения и бизнеса к банковской системе страны;</li>
					<li>повышение стабильности функционирования кредитных организаций банковской системы Российской Федерации и системы в целом;</li>
					<li>достижение адекватности мер по защите от реальных угроз информационной безопасности;</li>
					<li>предотвращение и (или) снижение ущерба от инцидентов информационной безопасности.</li>
				</ul>
				<p>Банк предусмотрел поэтапное внедрение мер, направленных на исключение рисков несанкционированных переводов денежных средств. Штрафовать за невыполнение требований ЦБ РФ начнет только с лета 2020 года. За полтора года все аспекты ИБ в коммерческом банке должны соответствовать требованиям ГОСТа.</p>
			</div>
		</div>
	</div>
{% endblock content %}

