{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<h1 align="center">{% trans "videos" %}</h1>
<div class="row">
	<h1>Информационная безопасность. Основы информационной безопасности.</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/3-X-FVXv1yg"></iframe>	
</div>
<div class="row">
	<h1>Основы информационной безопасности. Видеоэнциклопедия ИБ
</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/cHp-IiSuKJ4"></iframe>	
</div>
<div class="row">
	<h1>Школа информационной безопасности</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/rSp2cpAI4Tc"></iframe>	
</div>
<div class="row">
	<h1>Основные понятия информационной безопасности</h1>
</div>
<div class="row">
	<iframe width="640" height="480" src="https://www.youtube.com/embed/vo-X_W-T5ik"></iframe>	
</div>
{% endblock content %}